<!DOCTYPE html>
<html>
<head>
    <title>Parser Form</title>
</head>
<body>

<h1>Поиск товара</h1>

<form action="/parser" method="post">

    <label>Введите название товара:</label>

    <br><br>

    <input
        type="text"
        name="product_name"
        placeholder="Например: iPhone 17"
        required
    >

    <br><br>

    <label>Маркетплейс:</label>

    <br><br>

    <select name="marketplaces" required>
        <option value="ozon">Ozon</option>
        <option value="wb">Wildberries</option>
        <option value="yandex">Yandex Market</option>
    </select>

    <br><br>

    <button type="submit">
        Найти
    </button>

</form>

</body>
</html>
