name: dotenv
on: [pull_request]
jobs:
  dotenv-linter:
    name: runner / dotenv-linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run dotenv-linter
        uses: dotenv-linter/action-dotenv-linter@v3
        with:
          reporter: github-pr-check
          dotenv_linter_flags: --recursive
          fail_level: none
